{{#each this}}

<div class="repo-item">
  <div class="repo-item-basic-info">
    <a href="{{html_url}}">
      <h3 class="repo-item-name">{{name}}</h3>
    </a>
    <p class="repo-item-updated">{{updated_at}}</p>
  </div>
  <div class="repo-item-stats">
    {{#if this.language}}<p>{{language}}</p>{{/if}} <a href=""><i class="fa fa-star"></i> {{stargazers_count}}</a> <a href=""><i class="octicon octicon-git-branch"></i> {{forks_count}}</a>
  </div>
</div>

{{/each}}