<div class="user-basic-info">
  <a href="https://github.com/account"><img src="{{avatar_url}}" alt=""></a>
  <h2 class="user-full-name">{{name}}</h2>
  <h3 class="user-name">{{login}}</h3>
</div>
<div class="user-profile-info">
  <i class="octicon octicon-link"></i> <a href="{{blog}}" class="user-website">{{blog}}</a><br>
  <i class="octicon octicon-clock"></i> <p class="user-joined">{{created_at}}</p>
</div>
<div class="user-social-numbers">
  <a href="" class="user-follower">
    <h4>{{followers}}</h4>
    <p>Follower</p>
  </a>
  <a href="" class="user-starred">
    <h4>0</h4>
    <p>Starred</p>
  </a>
  <a href="" class="user-following">
    <h4>{{following}}</h4>
    <p>Following</p>
  </a>
</div>
<div class="user-organizations">
  <h3 class="user-organizations-heading">Organizations</h3>
</div>